.nav{
    background-color:rgb(58, 23, 114);
    height: 3rem;
    position: fixed;
    display: block;
    width: 100vw;
}
.nav li{
    display: inline-block;
    margin-left: 2rem;
}

.nav li a:hover{
    color:rgb(207, 139, 1);
}

.carrello{

    padding-right: 3rem;
    text-align: end;
    float: inline-end;
}
a{
    text-decoration: none;
}
.nav li a{
    color: rgb(223, 223, 223);
}
.titolo{
    padding-top: 5rem;
    text-align: center;
    color:rgb(207, 139, 1);
}
.sottotitolo{
    text-align: center;
    color: rgb(58, 23, 114);
    margin-bottom: 70px;
}
body{
    background-color: rgb(223, 223, 223);
}
h4{
    color:rgb(207, 139, 1);
}
.promozioni{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-left: 40px;
}
.border{
    border-style: solid;
    border-color: rgb(58, 23, 114);
    border-radius: 15px;
    width: 20%;
    height: 70%;
}
h3{
    color:rgb(207, 139, 1);
}
.prossimeuscite{
    margin-left: 245px;
    width: 1550px;
    height: 570px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: -80px;
}
footer{
height: 10rem;
margin-top: 2rem;
background-color: rgb(31, 20, 47);
}
footer div p,ul,li,a {
    color : rgb(223, 223, 223);
}
.cent{
    font-size: small;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.rimpall{
    list-style-type: none;
}
.imgProm{
    width: 300px;
    height: 300px;
}
.imgLib{
    height: 200px;
    width: 150px;
}